.mat-toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    .mat-toolbar-single-row{
        width: initial!important;
    }
    >div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:1rem
    }
}