
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom:3rem ;
    app-horizontal-card {
        display: block;
        width: 60%;
        margin: auto;
    }

}
@media (max-width:1200px){
    app-horizontal-card {
        width: 90%!important;
    }
}